# Python Nested Loops 

A **nested loop** is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [19]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

The syntax for these nested loops would be:


    # outer for loop
    for element in sequence 

        body of outer for loop

        # inner for loop
        for element in sequence:
            body of inner for loop
            
        body of outer for loop `

**Example 2** You can print multiplication tables using Python nested for loops

Lets do it for 2 and 3:

In [20]:
# Running outer loop from 2 to 3
 
for i in [2, 3]:

    #Printing inside outer loop
    print("\nMultiplication table for ", i)

     # Running inner loop from 1 to 10
    for j in [1,2,3,4,5,6,7,8,9,10]:
        # Printing inside the inner loop
        print(i, "*", j, "=", i*j)

Multiplication table for  2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Multiplication table for  3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In this example, we are using a for loop inside a for loop. In this example, we are printing a multiplication table of 2 and 3.


- The outer for loop iterates over the list `[2, 3]`

- The inner for loop will execute ten times for each outer number

- In the body of the outer loop, we will print the title "Multiplication table for X"

- In the body of the inner loop, we will print the multiplication of the outer number and current number

**Example 2.1** Let's make it a bit cleaner by using range (remember the last digit is not included)

In [21]:
# Running outer loop from 2 to 3
 
for i in range(2, 4):

    #Printing inside outer loop
    print("\nMultiplication table for ", i)

     # Running inner loop from 1 to 10
    for j in range(1, 11):
        # Printing inside the inner loop
        print(i, "*", j, "=", i*j)

Multiplication table for  2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Multiplication table for  3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

**Example 3** Can you get the first 5 rows of the multiplication table of all the even numbers between 1-10? Can you use `range()` in both for loops?

In [27]:
# Running outer loop from 2 to 3
 
for i in range(2, 11, 2):

    #Printing inside outer loop
    print("Multiplication table for ", i)

     # Running inner loop from 1 to 10
    for j in range(1, 5):
        # Printing inside the inner loop
        print(i, "*", j, "=", i*j)

Multiplication table for  2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
Multiplication table for  4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
Multiplication table for  6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
Multiplication table for  8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
Multiplication table for  10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40

**Example 4** Another common use of nested loop is to print various star and number patterns. Can you try to decipher what this logic is doing?

In [28]:
rows = 5
# outer loop
for i in range(0, rows):
    # inner loop
    for j in range(0, i + 1):
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *

**Example 4.1** What about a rectangle such as:

In [30]:
"""
***
***
***
***
***
"""

'\n***\n***\n***\n***\n***\n'

In [31]:
rows = 5
columns = 3

for i in range(rows):
    for j in range(columns):
        print('*', end = '')
    print()

***
***
***
***
***

**Example 5** Can you invert the triangle above so it looks like:

In [7]:
"""

***** (5 stars)
****  (4 stars)
***   (3 stars)
**    (2 stars)
*     (1 stars)

"""

'\n\n***** (5 stars)\n****  (4 stars)\n***   (3 stars)\n**    (2 stars)\n*     (1 stars)\n\n'

In [5]:
rows = 5
for i in range(rows, 0, -1):
    for j in range(0, i):
        print("*", end=" ")
    
    print("")

* * * * *
* * * *
* * *
* *
*

**Example 6** Can you do a triangle with numbers such as:

In [9]:
"""

1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

"""

'\n\n1 \n1 2 \n1 2 3 \n1 2 3 4 \n1 2 3 4 5\n\n'

In [3]:
for i in range(rows):
    for j in range(i+1):
        print(j+1, end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**Example 7** Can you invert the triangle of numbers so that it is right-facing?:

In [11]:
"""
        * 
      * * 
    * * * 
  * * * * 
* * * * * 

"""

'\n        * \n      * * \n    * * * \n  * * * * \n* * * * * \n\n'

In [18]:
rows = 5

for i in range(1, rows+1):
    for j in range(1, rows+1):
        if (j<= rows-i):
            print(' ', end = ' ')
        else:
            print('*', end = ' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

#### Breaking Nested Loops

The `break` statement is used inside the loop **to exit out of the loop**. 

If the `break` statement is used inside a nested loop (loop inside another loop), it will terminate the innermost loop.

In [32]:
for i in range(4):
    for j in range(4):
        if j == i:
            break
        print(i, j)

1 0
2 0
2 1
3 0
3 1
3 2

In this example, we have **two loops**. The outer for loop iterates the first four numbers using the `range()` function, and the inner for loop also iterates the first four numbers. 

If the outer number and a current number of the inner loop are the same, **then `break` the inner (nested) loop**.

**Example 8** Create a multiplication table like the one in **example 2**, but stop when the results get to the `*10` of the previous number, such as:

In [33]:
"""

Multiplication table for  2 (up until 1*10)
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

Multiplication table for  3 (up until 2*10)
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18

"""

'\n\nMultiplication table for  2 (up until 1*10)\n2 * 1 = 2\n2 * 2 = 4\n2 * 3 = 6\n2 * 4 = 8\n2 * 5 = 10\n\nMultiplication table for  3 (up until 2*10)\n3 * 1 = 3\n3 * 2 = 6\n3 * 3 = 9\n3 * 4 = 12\n3 * 5 = 15\n3 * 6 = 18\n\n'

In [37]:
# Running outer loop from 2 to 3
 
for i in range(2, 4):

    #Printing inside outer loop
    print("\nMultiplication table for ", i)

     # Running inner loop from 1 to 10
    for j in range(1, 11):
        if i*j > (i-1)*10:
            break
        else:
            # Printing inside the inner loop
            print(i, "*", j, "=", i*j)

Multiplication table for  2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

Multiplication table for  3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18

#### Continue Nested Loops

The `continue` statement **skip the current iteration and move to the next iteration**. 

In Python, when the `continue` statement is encountered inside the loop, it skips all the statements below it and immediately jumps to the next iteration.

In [16]:
first = [2, 4, 6]
second = [2, 4, 6]
for i in first:
    for j in second:
        if i == j:
            continue
        print(i, '*', j, '= ', i * j)

2 * 4 =  8
2 * 6 =  12
4 * 2 =  8
4 * 6 =  24
6 * 2 =  12
6 * 4 =  24

**Example 9** Create a multiplication table like the one in **example 2** and skip when a number is multiplying itself i.e. 2 * 2,  3 * 3,  4 * 4

In [36]:
# Running outer loop from 2 to 3
 
for i in range(2, 4):

    #Printing inside outer loop
    print("\nMultiplication table for ", i)

     # Running inner loop from 1 to 10
    for j in range(1, 11):
        if i == j:
            continue
        else:
            print(i, "*", j, "=", i*j)

Multiplication table for  2
2 * 1 = 2
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Multiplication table for  3
3 * 1 = 3
3 * 2 = 6
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

#### Single Line Nested Loops Using List Comprehension

In [18]:
first = [2, 3, 4]
second = [20, 30, 40]
final = []
for i in first:
    for j in second:
        final.append(i+j)
print(final)

[22, 32, 42, 23, 33, 43, 24, 34, 44]

You can write more fast and compact code using **list comprehension**

In [19]:
first = [2, 3, 4]
second = [20, 30, 40]
final = [i+j for i in first for j in second]
print(final)

[22, 32, 42, 23, 33, 43, 24, 34, 44]

**Example 10** Re-write examples 2 and 3 using list comprehension. You don't have to print titles

In [40]:
#Example 2

multiplication = [i * j for i in range(2,4) for j in range(1, 11)]

print(multiplication)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [41]:
#Example 3

multiplication = [i * j for i in range(2, 11, 2) for j in range(1, 5)]
print(multiplication)

[2, 4, 6, 8, 4, 8, 12, 16, 6, 12, 18, 24, 8, 16, 24, 32, 10, 20, 30, 40]

#### Time complexity

**Keep the time complexity in mind**. Letâ€™s understand this with examples on how nested for loop work in Python:

We use **simple for loop** to iterate on the given elements of an array or iterable. Here time complexity is **`O(n)`** because we are iterating all items from a list.

*The number of execution steps (iterations) determines the time complexity of a loop.*

When you use a **nested loop** and both outer and inner loop runs without any if condition in it, the time complexity is **`O(n^2`**) because, for all of the n elements, the code is executed n times.

In [20]:
numbers = [[1, 2, 3], [4, 5, 6]]

cnt = 0
for i in numbers:
    for j in i:
        print('iteration', cnt, end=': ')
        print(j)
        cnt = cnt + 1

iteration 0: 1
iteration 1: 2
iteration 2: 3
iteration 3: 4
iteration 4: 5
iteration 5: 6

If you want to read more about time complexity of nested loops: https://www.enjoyalgorithms.com/blog/time-complexity-analysis-of-loop-in-programming

#### Bibliography:

- https://pynative.com/print-pattern-python-examples/
- https://www.enjoyalgorithms.com/blog/time-complexity-analysis-of-loop-in-programming
- https://www.softwaretestinghelp.com/python/looping-in-python-for-while-nested-loops
- https://www.geeksforgeeks.org/python-nested-loops/